:host {
	display:flex;
	/*flex-direction:row;
	flex-wrap:nowrap;*/
	align-items:center;
	font-size:12px;
	box-sizing:border-box;
	min-height:20px;
	margin-top:3px;
	margin-bottom:3px;
	cursor:default
}
.group {
	margin-left:15px;
	margin-right:10px
}
.name {
	min-width:50px;
	max-width:50px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	color: #ddd;
	text-shadow:#666 1px 0 0,#666 0 1px 0,#666 -1px 0 0,#666 0 -1px 0;
}
.name:hover {
	color:#f90
}
:host[focused] .name {
	color:#00a6ff
}
