:host {
    display: block;
    outline: none;
    box-sizing: border-box;

    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #171717;
    padding: 3px 10px;
    position: relative;

    box-shadow: inset 0 0 8px 2px rgba(0,0,0,0.2);
    background: #696969;

    min-width: 100px;
    min-height: 100px;
}
