:host {
    display: block;
    box-sizing: border-box;
    font-size: 12px;
    margin-left: 0px;
    color: #ddd;
}

:host[folded]>#content {
    display: none;
}

#header {
    position: relative;
    padding-bottom: 1px;
}

#bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 16px;
}

:host[selected]>#bar {
    background-color: #555;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    white-space: nowrap;
    height: 15px;
    color: #fff;
    cursor: default;
    padding: 3px 0px 2px 2px;
}

#foldIcon {
    flex: none;
    font-size: 16px;
    width: 10px;
    margin-right: 2px;
    visibility: hidden;
    cursor: pointer;
    text-align: center;
}

:host[foldable]>#header #foldIcon {
    visibility: visible;
}

#icon {
    flex: none;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#name {
    font-size: 14px;
    flex: none;
    color: #ddd;
    min-width: 30%;
    max-width: 82%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content {
    display: block;
}